.con{width: 1200px;height: 80vh;background: #FFFAFA;overflow-y: scroll;box-sizing: border-box;padding: 50px;}
.con > a{font-size: 26px;margin-top: 5px;color: #1f1f1f;text-decoration: none;}
.con_ul{padding: 0;margin: 0;}
.con_ul > li{padding-left: 20px;position: relative;list-style: none;margin-top:10px;line-height: 24px;}
.con_ul > li > div{padding-left: 10px;padding-top: 10px;}

.con_ul_marker{position:relative;}
.con_ul_marker::before{content: '*';position: absolute;left: -15px;top: 3px;}

.con_ul > li::before{content:'';width: 5px;height: 5px;border-radius: 50%;background: #222;position: absolute;left: 6px;top: 9px;}
.con_ul > span{font-size: 20px;color: #1f1f1f;display: inline-block;margin-top:30px}